$bg-img: url("../../assets/images/heart.jpg");

.memory-panel {
  background-image: $bg-img;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  //   display: flex;
  //   align-items: center;
}

.move {
  animation: move 8s ease-in-out 0s infinite alternate;
}
.toTopA {
  animation: toTopA 2.8s ease-in-out 0s infinite;
}
.toTopB {
  animation: toTopB 2.8s ease-in-out 0.8s infinite;
}
.runToprose {
  animation: runTopRose 10s linear 1s infinite;
}
.runTopRoseDlay {
  animation: runTopRoseDlay 10s linear 3s infinite;
}
.runTopRoseDlayA {
  animation: runTopRoseDlayA 10s linear 5s infinite;
}
.runTopRoseDlayB {
  animation: runTopRoseDlayB 10s linear 7s infinite;
}
@keyframes move {
  0% {
    transform: translate3d(0, 0, 0);
  }
  33% {
    transform: translate3d(-10px, 5px, 0);
  }
  66% {
    transform: translate3d(5px, -10px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes toTopA {
  0% {
    bottom: 140px;
    width: 15px;
    height: 15px;
    opacity: 0;
  }
  33% {
    bottom: 170px;
    width: 25px;
    height: 25px;
    opacity: 1;
  }
  66% {
    bottom: 200px;
    width: 35px;
    height: 35px;
    opacity: 1;
  }
  100% {
    bottom: 230px;
    width: 45px;
    height: 45px;
    opacity: 1;
  }
}
@keyframes toTopB {
  0% {
    bottom: 140px;
    width: 12px;
    height: 12px;
    opacity: 0;
  }
  33% {
    bottom: 165px;
    width: 24px;
    height: 24px;
    opacity: 1;
  }
  66% {
    bottom: 190px;
    width: 32px;
    height: 32px;
    opacity: 1;
  }
  100% {
    bottom: 215px;
    width: 40px;
    height: 40px;
    opacity: 1;
  }
}
@keyframes runTopRose {
  0% {
    bottom: 120px;
    opacity: 0;
  }
  50% {
    bottom: 450px;
    opacity: 0.9;
  }
  100% {
    bottom: 700px;
    opacity: 0;
  }
}
@keyframes runTopRoseDlay {
  0% {
    bottom: 100px;
    opacity: 0;
  }
  50% {
    bottom: 450px;
    opacity: 0.9;
  }
  100% {
    bottom: 700px;
    opacity: 0;
  }
}
@keyframes runTopRoseDlayA {
  0% {
    bottom: 140px;
    opacity: 0;
  }
  50% {
    bottom: 450px;
    opacity: 0.9;
  }
  100% {
    bottom: 700px;
    opacity: 0;
  }
}
@keyframes runTopRoseDlayB {
  0% {
    bottom: 110px;
    opacity: 0;
  }
  50% {
    bottom: 450px;
    opacity: 0.9;
  }
  100% {
    bottom: 700px;
    opacity: 0;
  }
}

.story-part {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

div h1 {
  text-align: center;
  line-height: 200%;
  color: red;
  font-family: "迷你简启体";
  font-size: 5vh;
  margin-top: 0;
}
div h2 {
  text-align: right;
  line-height: 160%;
  color: red;
  font-family: "迷你简启体";
  font-size: 2vh;
}
div p {
  text-indent: 2em;
  line-height: 200%;
  color: red;
  font-family: "方正喵呜体";
  font-style: oblique;
}
.img1 {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 78%;
  left: 65%;
}
.loveHeart1 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 71%;
}
.loveHeart2 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 66%;
  opacity: 0;
}
.Rose1 {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 30%;
  opacity: 0;
  transform: rotate(20deg);
}
.Rose2 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 42%;
  opacity: 0;
  transform: rotate(-20deg);
}
.Rose3 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  opacity: 0;
  transform: rotate(25deg);
}
.Rose4 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 60%;
  opacity: 0;
  transform: rotate(-15deg);
}
.Rose5 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 70%;
  opacity: 0;
  transform: rotate(30deg);
}
.Rose6 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 18%;
  opacity: 0;
  transform: rotate(-27deg);
}
.Rose7 {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 77%;
  opacity: 0;
  transform: rotate(10deg);
}
.Rose8 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 83%;
  opacity: 0;
  transform: rotate(-23deg);
}
.Rose9 {
  width: 27px;
  height: 27px;
  position: absolute;
  left: 64%;
  opacity: 0;
  transform: rotate(23deg);
}
.Rose10 {
  width: 23px;
  height: 23px;
  position: absolute;
  left: 66.5%;
  opacity: 0;
  transform: rotate(-33deg);
}
.Rose11 {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 46%;
  opacity: 0;
  transform: rotate(13deg);
}
.Rose12 {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 35%;
  opacity: 0;
  transform: rotate(-32deg);
}
.Rose13 {
  width: 27px;
  height: 27px;
  position: absolute;
  left: 38%;
  opacity: 0;
  transform: rotate(43deg);
}
.Rose14 {
  width: 43px;
  height: 43px;
  position: absolute;
  left: 80%;
  opacity: 0;
  transform: rotate(-2deg);
}
.Rose15 {
  width: 31px;
  height: 31px;
  position: absolute;
  left: 75%;
  opacity: 0;
  transform: rotate(34deg);
}
.Rose16 {
  width: 43px;
  height: 43px;
  position: absolute;
  left: 10%;
  opacity: 0;
  transform: rotate(-26deg);
}
.Rose17 {
  width: 31px;
  height: 31px;
  position: absolute;
  left: 4%;
  opacity: 0;
  transform: rotate(38deg);
}
.Rose18 {
  width: 31px;
  height: 31px;
  position: absolute;
  left: 85%;
  opacity: 0;
  transform: rotate(35deg);
}
